USE [master]
GO
/****** Object:  Database [db_reunion]    Script Date: 15/11/2019 00:58:56 ******/
CREATE DATABASE [db_reunion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_reunion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\db_reunion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_reunion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\db_reunion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_reunion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_reunion]
GO
/****** Object:  Table [dbo].[btl_docente]    Script Date: 15/11/2019 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[btl_docente](
	[ICodigo_Doc] [int] IDENTITY(1,1) NOT NULL,
	[VNombre_Doc] [varchar](50) NULL,
	[VApaterno_Doc] [varchar](50) NULL,
	[VAmaterno_Doc] [varchar](50) NULL,
	[FK_ICodigo_Cargo] [int] NOT NULL,
 CONSTRAINT [PK_btl_docente] PRIMARY KEY CLUSTERED 
(
	[ICodigo_Doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_acta]    Script Date: 15/11/2019 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_acta](
	[ICodigo_Acta] [int] IDENTITY(1,1) NOT NULL,
	[DFecha_Acta] [datetime] NULL,
	[VObs_Acta] [varchar](200) NULL,
	[FK_ICodigo_Reu] [int] NOT NULL,
 CONSTRAINT [PK_tbl_acta] PRIMARY KEY CLUSTERED 
(
	[ICodigo_Acta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_cargo]    Script Date: 15/11/2019 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_cargo](
	[ICodigo_Cargo] [int] IDENTITY(1,1) NOT NULL,
	[VConcepto_Cargo] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_cargo] PRIMARY KEY CLUSTERED 
(
	[ICodigo_Cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_detalle]    Script Date: 15/11/2019 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_detalle](
	[ICodigo_Detalle] [int] IDENTITY(1,1) NOT NULL,
	[VConceptoTema_Detalle] [varchar](300) NULL,
	[VDescipcion_Detalle] [varchar](150) NULL,
	[Fk_ICodigo_Acta] [int] NOT NULL,
 CONSTRAINT [PK_tbl_detalle] PRIMARY KEY CLUSTERED 
(
	[ICodigo_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_docente_tema]    Script Date: 15/11/2019 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_docente_tema](
	[FK_ICodigo_Doc] [int] NOT NULL,
	[FK_ICodigo_Tema] [int] NOT NULL
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[tbl_docente_tema] WITH ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Table [dbo].[tbl_estado]    Script Date: 15/11/2019 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_estado](
	[ICodigo_Estado] [int] IDENTITY(1,1) NOT NULL,
	[VDescripcion_Estado] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_estado] PRIMARY KEY CLUSTERED 
(
	[ICodigo_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_manual]    Script Date: 15/11/2019 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_manual](
	[ICodigo_Manual] [int] IDENTITY(1,1) NOT NULL,
	[VDescripcion_Manual] [varchar](150) NULL,
	[DFecha_Manual] [datetime] NULL,
 CONSTRAINT [PK_tbl_manual] PRIMARY KEY CLUSTERED 
(
	[ICodigo_Manual] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_reunion]    Script Date: 15/11/2019 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_reunion](
	[ICodigo_Reu] [int] IDENTITY(1,1) NOT NULL,
	[DHoraEntrada_Reu] [datetime] NULL,
	[DHoraSalida_Reu] [datetime] NULL,
	[DFecha_Reu] [datetime] NULL,
	[VLugar_Reu] [varchar](200) NULL,
 CONSTRAINT [PK_tbl_reunion] PRIMARY KEY CLUSTERED 
(
	[ICodigo_Reu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_tema]    Script Date: 15/11/2019 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_tema](
	[ICodigo_Tema] [int] IDENTITY(1,1) NOT NULL,
	[VDescripcion_Tema] [varchar](100) NULL,
	[FK_ICodigo_Estado] [int] NOT NULL,
	[FK_ICodigo_Docente] [int] NULL,
	[FK_ICodigo_Manual] [int] NULL,
	[FK_ICodigo_Reu] [int] NULL,
 CONSTRAINT [PK_tbl_terna] PRIMARY KEY CLUSTERED 
(
	[ICodigo_Tema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[btl_docente] ON 

INSERT [dbo].[btl_docente] ([ICodigo_Doc], [VNombre_Doc], [VApaterno_Doc], [VAmaterno_Doc], [FK_ICodigo_Cargo]) VALUES (1, N'Christian', N'Bacilio', N'De la Cruz', 1)
SET IDENTITY_INSERT [dbo].[btl_docente] OFF
SET IDENTITY_INSERT [dbo].[tbl_cargo] ON 

INSERT [dbo].[tbl_cargo] ([ICodigo_Cargo], [VConcepto_Cargo]) VALUES (1, N'Secretario')
INSERT [dbo].[tbl_cargo] ([ICodigo_Cargo], [VConcepto_Cargo]) VALUES (2, N'Coordinador')
SET IDENTITY_INSERT [dbo].[tbl_cargo] OFF
SET IDENTITY_INSERT [dbo].[tbl_estado] ON 

INSERT [dbo].[tbl_estado] ([ICodigo_Estado], [VDescripcion_Estado]) VALUES (1, N'Aprobado')
SET IDENTITY_INSERT [dbo].[tbl_estado] OFF
SET IDENTITY_INSERT [dbo].[tbl_tema] ON 

INSERT [dbo].[tbl_tema] ([ICodigo_Tema], [VDescripcion_Tema], [FK_ICodigo_Estado], [FK_ICodigo_Docente], [FK_ICodigo_Manual], [FK_ICodigo_Reu]) VALUES (2, N'Reunion', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_tema] OFF
ALTER TABLE [dbo].[btl_docente]  WITH CHECK ADD  CONSTRAINT [FK_btl_docente_tbl_cargo] FOREIGN KEY([FK_ICodigo_Cargo])
REFERENCES [dbo].[tbl_cargo] ([ICodigo_Cargo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[btl_docente] CHECK CONSTRAINT [FK_btl_docente_tbl_cargo]
GO
ALTER TABLE [dbo].[tbl_acta]  WITH CHECK ADD  CONSTRAINT [FK_tbl_acta_tbl_reunion] FOREIGN KEY([FK_ICodigo_Reu])
REFERENCES [dbo].[tbl_reunion] ([ICodigo_Reu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_acta] CHECK CONSTRAINT [FK_tbl_acta_tbl_reunion]
GO
ALTER TABLE [dbo].[tbl_detalle]  WITH CHECK ADD  CONSTRAINT [FK_tbl_detalle_tbl_acta] FOREIGN KEY([Fk_ICodigo_Acta])
REFERENCES [dbo].[tbl_acta] ([ICodigo_Acta])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_detalle] CHECK CONSTRAINT [FK_tbl_detalle_tbl_acta]
GO
ALTER TABLE [dbo].[tbl_docente_tema]  WITH CHECK ADD  CONSTRAINT [FK_tbl_docente_terna_btl_docente] FOREIGN KEY([FK_ICodigo_Doc])
REFERENCES [dbo].[btl_docente] ([ICodigo_Doc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_docente_tema] CHECK CONSTRAINT [FK_tbl_docente_terna_btl_docente]
GO
ALTER TABLE [dbo].[tbl_docente_tema]  WITH CHECK ADD  CONSTRAINT [FK_tbl_docente_terna_tbl_terna] FOREIGN KEY([FK_ICodigo_Tema])
REFERENCES [dbo].[tbl_tema] ([ICodigo_Tema])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_docente_tema] CHECK CONSTRAINT [FK_tbl_docente_terna_tbl_terna]
GO
ALTER TABLE [dbo].[tbl_tema]  WITH CHECK ADD  CONSTRAINT [FK_tbl_terna_tbl_estado] FOREIGN KEY([FK_ICodigo_Estado])
REFERENCES [dbo].[tbl_estado] ([ICodigo_Estado])
GO
ALTER TABLE [dbo].[tbl_tema] CHECK CONSTRAINT [FK_tbl_terna_tbl_estado]
GO
ALTER TABLE [dbo].[tbl_tema]  WITH CHECK ADD  CONSTRAINT [FK_tbl_terna_tbl_manual] FOREIGN KEY([FK_ICodigo_Manual])
REFERENCES [dbo].[tbl_manual] ([ICodigo_Manual])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_tema] CHECK CONSTRAINT [FK_tbl_terna_tbl_manual]
GO
ALTER TABLE [dbo].[tbl_tema]  WITH CHECK ADD  CONSTRAINT [FK_tbl_terna_tbl_reunion] FOREIGN KEY([FK_ICodigo_Reu])
REFERENCES [dbo].[tbl_reunion] ([ICodigo_Reu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_tema] CHECK CONSTRAINT [FK_tbl_terna_tbl_reunion]
GO
/****** Object:  Statistic [_WA_Sys_00000002_5812160E]    Script Date: 15/11/2019 00:58:57 ******/
CREATE STATISTICS [_WA_Sys_00000002_5812160E] ON [dbo].[btl_docente]([VNombre_Doc]) WITH STATS_STREAM = 0x010000000100000000000000000000005A463434000000001902000000000000D901000000000000A7020000A7000000320000000000000028D000000000000007000000B829070006AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000010410000803F0000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000280000000000000065000000000000006D000000000000000800000000000000300010000000803F000000000000803F0400000100200043687269737469616EFF01000000000000000100000001000000280000002800000000000000000000000900000043687269737469616E0200000040000000000109000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_5812160E]    Script Date: 15/11/2019 00:58:57 ******/
CREATE STATISTICS [_WA_Sys_00000003_5812160E] ON [dbo].[btl_docente]([VApaterno_Doc]) WITH STATS_STREAM = 0x010000000100000000000000000000009F33183D000000001502000000000000D501000000000000A7020000A7000000320000000000000028D000000000000007000000B929070006AB000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000E0400000803F000000000000E0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002600000000000000610000000000000069000000000000000800000000000000300010000000803F000000000000803F04000001001E00426163696C696FFF010000000000000001000000010000002800000028000000000000000000000007000000426163696C696F0200000040000000000107000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_5812160E]    Script Date: 15/11/2019 00:58:57 ******/
CREATE STATISTICS [_WA_Sys_00000004_5812160E] ON [dbo].[btl_docente]([VAmaterno_Doc]) WITH STATS_STREAM = 0x010000000100000000000000000000008D5559B2000000001B02000000000000DB01000000000000A7020000A7000000320000000000000028D000000000000007000000B929070006AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000290000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F040000010021004465206C61204372757AFF01000000000000000100000001000000280000002800000000000000000000000A0000004465206C61204372757A020000004000000000010A000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_5812160E]    Script Date: 15/11/2019 00:58:57 ******/
CREATE STATISTICS [_WA_Sys_00000005_5812160E] ON [dbo].[btl_docente]([FK_ICodigo_Cargo]) WITH STATS_STREAM = 0x0100000001000000000000000000000092A4FC2D00000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000BA29070006AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F020000000400000100000000000000
GO
/****** Object:  Statistic [PK_btl_docente]    Script Date: 15/11/2019 00:58:57 ******/
UPDATE STATISTICS [dbo].[btl_docente]([PK_btl_docente]) WITH STATS_STREAM = 0x010000000100000000000000000000004C0C780600000000CB010000000000008B01000000000000380300003800000004000A000000000000000000000000000700000023090A0006AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_tbl_acta]    Script Date: 15/11/2019 00:58:57 ******/
UPDATE STATISTICS [dbo].[tbl_acta]([PK_tbl_acta]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_3F466844]    Script Date: 15/11/2019 00:58:57 ******/
CREATE STATISTICS [_WA_Sys_00000002_3F466844] ON [dbo].[tbl_cargo]([VConcepto_Cargo]) WITH STATS_STREAM = 0x01000000010000000000000000000000685D113C000000001B02000000000000DB01000000000000A7020000A7000000320000000000000028D000000000000007000000E8FF060006AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000290000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F040000010021005365637265746172696FFF01000000000000000100000001000000280000002800000000000000000000000A0000005365637265746172696F020000004000000000010A000000000100000000000000
GO
/****** Object:  Statistic [PK_tbl_cargo]    Script Date: 15/11/2019 00:58:57 ******/
UPDATE STATISTICS [dbo].[tbl_cargo]([PK_tbl_cargo]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_tbl_detalle]    Script Date: 15/11/2019 00:58:57 ******/
UPDATE STATISTICS [dbo].[tbl_detalle]([PK_tbl_detalle]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_412EB0B6]    Script Date: 15/11/2019 00:58:57 ******/
CREATE STATISTICS [_WA_Sys_00000002_412EB0B6] ON [dbo].[tbl_estado]([VDescripcion_Estado]) WITH STATS_STREAM = 0x010000000100000000000000000000001054E866000000001702000000000000D701000000000000A7020000A7000000320000000000000028D000000000000007000000ECA1060006AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000270000000000000063000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001001F004170726F6261646FFF0100000000000000010000000100000028000000280000000000000000000000080000004170726F6261646F0200000040000000000108000000000100000000000000
GO
/****** Object:  Statistic [PK_tbl_estado]    Script Date: 15/11/2019 00:58:57 ******/
UPDATE STATISTICS [dbo].[tbl_estado]([PK_tbl_estado]) WITH STATS_STREAM = 0x0100000001000000000000000000000027ADA99200000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000F9CE090006AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_tbl_manual]    Script Date: 15/11/2019 00:58:57 ******/
UPDATE STATISTICS [dbo].[tbl_manual]([PK_tbl_manual]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_tbl_reunion]    Script Date: 15/11/2019 00:58:57 ******/
UPDATE STATISTICS [dbo].[tbl_reunion]([PK_tbl_reunion]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_619B8048]    Script Date: 15/11/2019 00:58:57 ******/
CREATE STATISTICS [_WA_Sys_00000002_619B8048] ON [dbo].[tbl_tema]([VDescripcion_Tema]) WITH STATS_STREAM = 0x01000000010000000000000000000000CD7C406C000000001502000000000000D501000000000000A7020000A7000000640000000000000028D000000000000007000000A5CC060006AB000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000E0400000803F000000000000E0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002600000000000000610000000000000069000000000000000800000000000000300010000000803F000000000000803F04000001001E005265756E696F6EFF0100000000000000010000000100000028000000280000000000000000000000070000005265756E696F6E0200000040000000000107000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_619B8048]    Script Date: 15/11/2019 00:58:57 ******/
CREATE STATISTICS [_WA_Sys_00000003_619B8048] ON [dbo].[tbl_tema]([FK_ICodigo_Estado]) WITH STATS_STREAM = 0x0100000001000000000000000000000025EA624100000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000A6CC060006AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_619B8048]    Script Date: 15/11/2019 00:58:57 ******/
CREATE STATISTICS [_WA_Sys_00000004_619B8048] ON [dbo].[tbl_tema]([FK_ICodigo_Docente]) WITH STATS_STREAM = 0x010000000100000000000000000000002AE04E7100000000A4010000000000006401000000000000380200003800000004000A000000000000000000000000000700000022090A0006AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000014000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_619B8048]    Script Date: 15/11/2019 00:58:57 ******/
CREATE STATISTICS [_WA_Sys_00000005_619B8048] ON [dbo].[tbl_tema]([FK_ICodigo_Manual]) WITH STATS_STREAM = 0x010000000100000000000000000000007BA1487000000000A4010000000000006401000000000000380200003800000004000A000000000000000000000000000700000046EB090006AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000014000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_619B8048]    Script Date: 15/11/2019 00:58:57 ******/
CREATE STATISTICS [_WA_Sys_00000006_619B8048] ON [dbo].[tbl_tema]([FK_ICodigo_Reu]) WITH STATS_STREAM = 0x01000000010000000000000000000000DE2380BA00000000A4010000000000006401000000000000380200003800000004000A00000000000000000000000000070000004E990A0006AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000014000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000100000000000000
GO
/****** Object:  Statistic [PK_tbl_terna]    Script Date: 15/11/2019 00:58:57 ******/
UPDATE STATISTICS [dbo].[tbl_tema]([PK_tbl_terna]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
USE [master]
GO
